<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title>IOR Page</title>
</head>
<body>
	<h1>IOR Page</h1>
	<hr />
	<form method="post">
		<table border="1">
			<tr>
				<td>방번호</td>
				<td>방제</td>
				<td>인원</td>
				<td>입장</td>
			</tr>
			<% room.forEach(function (item, index) { %>
				<tr>
					<td><%= item.N %>번방 </td>
					<td><%= item.name %></td>
					<td><%= item.people %>/<%= item.seat %></td>
					<td><input type="radio" name="which" value=<%= item.N %>></td>
						<% if(item.playing==1){ %>
						<td>게임중</td>
						<% } %>
				</tr>
			<% }); %>
		</table>
		<hr />
		<input type="button" value="새로고침" onclick="location.href='http://127.0.0.1:52273/IOR'";>
		<input type="submit" value="입장" />	
		<hr />
		<input type="button" value="<뒤로가기>" onclick="location.href='http://127.0.0.1:52273/Omok'";>
	</form>
</body>
</html>